@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: 'open sans', sans-serif;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 160px;
}

div.columns .column {
    width: 237px;
    float: left;
    
    box-sizing: border-box;
}
div.columns .icon-box {
    width: 80px;
    height: 80px;
    background: #70c0c9;
    display: inline-block;
    background-image: url('../assets/img/1.svg');
    background-size: cover;
    padding: 64px;
}   
.title {
    font-size: small;
    padding-left: 10px;
    color: #ec9a90;
    
}
.description {
    color: #a1a1a1;
    text-align: center;
}