.content {
    column-count: 2;
}

.half1 {
    width: 80%;
}

.half2 {
    width: 100%;
}
.img1 {
    width: 100px;
    float: right;
    
}
.img2 {
    width: 100px;
    float: right;
    
}
.img3 {
    width: 100px;
    float: right;
}
.img4 {
    width: 100px;
    float: right;
}
.img5 {
    width: 100px;
    float: right;
}
.img6 {
    width: 100px;
    float: right;
}
.Pirmas {
    color: rebeccapurple;
    font-family: unset;
    font-size: medium;
    letter-spacing: 1px;
}
.Antras {
    color: mediumblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.Trecias {
    color: saddlebrown;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-style: oblique;
}
.Ketvirtas {
    color: navy;
    font-family: cursive;
    font-variant: all-petite-caps;
    font-size: initial;
}
.Penktas {
    color: maroon;
    font-family: monospace;
    font-variant: unicase;
}
.Sestas {
    color: rgba(68, 139, 27, 0.534);
    font-family: sans-serif;
}